@media (min-width:1000px) {

.aboutAll {
    margin-left: 22%;
    margin-right: 2%;
    font-family: 'Nanum Gothic';
    font-size: 17.5px;
    text-align: center;
    width: 75%;
}

.aboutGeorgia {
    width: 30%;
    float: left;
    margin-right: 2%;
    margin-top: 7%;
    border-radius: 10px;
    transition: 0.2s;
}
.aboutGeorgia:hover {
    width: 30.5%;
}

.photoText {
    float: left;
}

.vardziaPhoto {
    float: right;
    width: 25%;
    border-radius: 10px;
    margin-left: 2%;
    margin-bottom: 3%;
    transition: 0.2s;
}

.vardziaPhoto:hover {
    width: 25.3%;
}

}

@media (max-width: 999px) {
    .aboutAll {
        margin-left: 2%;
        margin-right: 2%;
        font-family: 'Nanum Gothic';
        font-size: 17.5px;
        text-align: center;
    }
    
    .aboutGeorgia {
        width: 50%;
        border-radius: 10px;
        transition: 0.2s;
    }
    
    .photoText {
        float: left;
    }
    
    .vardziaPhoto {
        margin-top: 5%;
        width: 80%;
        border-radius: 10px;
    }
    
}